<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/form.css">

  </head>
  <body>

      <% include ../partials/navLoggedIn.ejs %>

    <h1>Edit <%=video.title%></h1>

    <form action="/videos/<%=video._id%>?_method=PUT" method="post">
      Video Title: <input type="text" name="title" value="<%=video.title%>"> <br>
      Link: <input type="text" name="link" value="<%=video.link%>"> <br>
      Category of Workout:
        <select type="text", name="category">
          <option value="yoga">Yoga</option>
          <option value="pilates">Pilates</option>
          <option value="cycling">Cycling</option>
          <option value="cardio">Cardio</option>
          <option value="weights">Weights</option>
          <option value="other">Other</option>
        </select> <br>
      Body Part: <input type="text" name="bodyPart" value="<%=video.bodyPart%>"> <br>
      Length: <input type="number" name="length" value="<%=video.length%>"> <br>
      Equipment needed: <input type="checkbox" name="equipment"> <br>

      <% if(video.equipment) { %>
          video.equipment = 'on'
        <% } %>

      <input type="hidden" name="username" value="<%=video.username%>">
      <button>Submit</button>
    </form>

  </body>
</html>
