<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <% include ../partials/nav.ejs %>
    </nav>

    <h1>Workout Videos</h1>
    <% for(let i = 0; i < videos.length; i++) { %>
      <h3><a href="videos/<%=videos[i]._id%>"><%= videos[i].title %></a></h3>
      
      <iframe width="560" height="315" src="<%= videos[i].link %>" frameborder="0" allowfullscreen></iframe>

      <h3><%= videos[i].length %> minutes long</h3>
      <h3><%= videos[i].bodyPart %> workout</h3>
      <% if(videos[i].equipment === true){ %>
          <h3>Equipment needed.</h3>
      <% } else { %>
          <h3>No equipment needed.</h3>
      <% } %>
    <% } %>
  </body>
</html>
