<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Boogaloo|Permanent+Marker" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">

  </head>
  <body>
        <% include ../partials/nav.ejs %>

    <div class="header">
      <h1 class="header-title">Workout Videos</h1>
    </div>

    <div class="container">

      <% for(let i = 0; i < videos.length; i++) { %>
        <h3><a href="videos/<%=videos[i]._id%>"><%= videos[i].title %></a></h3>

        <iframe width="560" height="315" src="<%= videos[i].link %>" frameborder="0" allowfullscreen></iframe>

        <h3><%= videos[i].length %> minutes long</h3>
        <h3><%= videos[i].bodyPart %> workout</h3>
        <% if(videos[i].equipment === true){ %>
            <h3>Equipment needed.</h3>
        <% } else { %>
            <h3>No equipment needed.</h3>
        <% } %>

        <p>Posted by: <%=videos[i].username%>
      <% } %>

    </div>

  </body>

  <style>
    body {
      background-repeat: repeat;
      background-size: cover;
    }
  </style>
</html>
