<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Boogaloo|Permanent+Marker" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">

  </head>
  <body>

      <% include ../partials/navLoggedIn.ejs %>

      <div class="header">
        <h1 class="header-title"><%=user.username%>'s Profile</h1>
      </div>

    <a id="new-vid" class="add-edit-button" href="/videos/<%=user._id%>/new">Add New Video</a>
    <br>
  <div class="container">

    <% for(let i = 0; i < videos.length; i++) { %>
      <h3>Title: <a href="videos/<%=videos[i]._id%>"><%=videos[i].title%></a></h3> <br>

      <iframe width="560" height="315" src="<%= videos[i].link %>" frameborder="0" allowfullscreen></iframe>

      <div class="row">

      <div class="col-md-4">
        <h3>Length: <%=videos[i].length%> minutes</h3>
      </div>
      <div class="col-md-4">
        <% if(videos[i].equipment === true){ %>
            <h3>Equipment needed.</h3>
        <% } else { %>
            <h3>No equipment needed.</h3>
        <% } %>
      </div>
      </div>

      <div class="row">

        <div class="col-md-4">
          <a class="add-edit-button" href="/videos/<%=user._id%>/<%=videos[i]._id%>/edit">Edit Video</a>
        </div>

        <div class="col-md-4">
          <form action="/videos/<%=videos[i]._id%>?_method=DELETE" method="post">
            <input class="delete" type="submit" value="Delete Video">
          </form>
        </div>

      </div>
    <% } %>
  </div>


    <footer>
      <div class="footer">
        <a href="/users/<%=user._id%>/edit">Edit User Info</a>
      </div>

    </footer>


  </body>
</html>
